@charset "UTF-8";


body{
    background-color: rgb(201, 194, 194);
    display: flex;
    min-height: 100vh;
}
.V-main{
 background-color: pink;
 border-radius: rem-calc(6);
 height:432px;
 width:750px;
 padding: 60px;
 position: relative;
 display: flex;
 margin: auto;

}
.v-butao{
    background-color: rebeccapurple;
    display: inline-block;
    text-align: center;
    text-decoration: none;
    border-radius: 30px;
    padding: 15px;
/*colocar id nesse botao e organizar todas as cores respectivamento*/

}
.v-butao:hover{

}
.v-card{
    background-color:#1e6bb7 ;
    border-radius: 6px;
    display: flex;
    flex-direction: column;
    flex: 0.6;
    height: 100%;
    justify-content: center;
    left: 0;
    padding: 30px 60px;
    position: absolute;
    top: 0;
    width: 100%;

}
#instagram{
    background-color:  #de185a;
.v-butao{background:linear-gradient(45deg, #405DE6, #5851DB, #833AB4, #C13584,#ff0458 ); }


}
#github{
    color: white;
    background-color: black;
.v-butao{background-color:#f5f5f5; }

}
#linkedin{
    background-color:  #3484d4;
.v-butao{background-color:#91b0ce; }

}
.v-card_titulo{
    font-weight: normal;
    line-height: 1;
}
.v-menu{
    align-items: flex-end;
    bottom: 0;
    display: flex;
    height: 18px;
    list-style: none;
    margin: 0;
    padding: 55px;
    position: absolute;
    right: 0;
    background-color: white;
}
.menu{
    
    bottom:4px;
    display: block;
    height:15px;
    position: absolute;
    right: 115px;
    background-color: gray;
}