@charset "UTF-8";
*{
    padding: 0px;
    margin: 0px;
}

  
  @keyframes fade-in {
 
 
    0% {
      -webkit-transform: translateX(50px);
              transform: translateX(50px);
      opacity: 0;
    }
    100% {
      -webkit-transform: translateX(0);
              transform: translateX(0);
      opacity: 1;
    }
  
  
  }
  

/*
Verde #A4EA4F
azul #a1c8e6
cinza metalico ou prata #C0C0C0
branco #fff
*/


header{
    color: rgb(0, 0, 0);
    background-color: #C0C0C0;
    padding: 20px ;
}

.omenu{
    display: none
}

ul{
    width: 105px;
    margin: 10px;
   
    list-style: none;

}
li{ margin: 10px;}
li:hover{
    text-align: center;  
    border-radius: 11px;
    margin: 10px;
    padding: 5px;
    background-color: #455631;
    box-shadow: 3px 5px 16px 0px black;
}
main > article >h1{
    text-align: center;
    background-color: #646262;
    margin: 3px;
}
h2{
    background-color: #646262;
    text-align: center;
    padding: 5px;
    margin: 4px;
}
p{
    font-size: 15pt;
    margin: 3px;
    padding: 5px;
    text-align: justify;
}
.cft{
   
    color: #000000;
    background-color:  #a1c8e6;
}
.ambiental{
    background-color: #A4EA4F;
}
.Eficiência{
    background-color: #689334;
}
.custo{
  background-color: #79b3e0;
}
.eco{
    background-color: #455631;
}
.imgG{
    width: 385px;
  
}
.icon{
    padding: 15px;
    display: block; 
    color: #000000;
}
a{
    color: #000000;
    text-decoration: none;
}
footer{
  
    margin: 45px;
    position: relative;
    bottom: 0;
    font-size: 16pt;
    padding: 10px;
    text-align: center;
    color: white;
    background-color: #000000;
}
.imgIC{
    
    width: 185px;
}




/*tablet 768px-1112px 
*/
@media screen and (min-width:768px) and (max-width:1112px)/*tablet 768px-1112px */
 {
    header{
        
        padding: 35px;
    }
    .h1H{
        text-align: center;
    }

main > article > h1{
    padding: 15px;
}
main{ position: relative;
    margin: 0px auto 0px ;
    width: 750px;
}
.cft{ 
    margin: 5px;
   padding: 7px;
    width: 430px;
    display: block;
}

.JAC{ width: 259px;
    height: 218px ;
    position: absolute;
    margin-top: -225px;
    left: 463px;
   display: flex;
}
.ambiental{
    display: block;
    padding: 10px;
    width: 390px;
}
#arvore{
    width: 249px;
    height: 235px ;
    position: absolute;
    margin-top: -235px;
    left: 433px;
    display: flex;
}
.Eficiência{
    padding: 15px;
    width: 390px;
}
#lampada{
    margin-top: -285px;
    left: 433px;
    position: absolute;
    display: flex;
    width: 320px;
    height: 285px ;
}
.custos{
    margin: auto;
    width: 570px;
}
.eco{
    
    padding: 15px;
    height: 210px;
    width: 350px; 
}
#incentivo{
    margin-top: -245px;
    left: 410px;
    position: absolute;
    display: flex;
    width: 320px;
    height: 245px ;
    padding-bottom: 250px;
}
h2{
    margin: 17px;
    background-color: #9e85855f;
    text-align: center;
    padding: 15px;
}
}

/*notbook 1113px - 1920px */
@media screen and (min-width: 1114px) {
header{
    text-align: center;
}    

#icone{
    display: none;
}
#imenu{
    position: absolute;
   padding-bottom: 15px;
    text-align: left;
    display: block;
}
ul{
    display: inline;
}
li,a{
    display: inline;
    width: 65px;

}
li:hover{
    background-color: #9aba75;
}
main{
    box-shadow: 6px 3px 19px 0px black;
    border-radius: 35px;
    margin: auto;
    width: 990px;
}
.cabeça{
    width: 990px;
    border-radius: 10px  10px  0 0px;
}

.cft{

   margin-bottom: 45px;
    width: 490px;
}
.JAC{
    margin-bottom: 45px;
    display: block;
    width: 480px;
    animation-name: fade-in;
    animation-duration: 1.5s;
   
}
.jac{
    display: flex;
}
.amb{
    display: flex;
}
.efic{
    display: flex;
}
.custos{
    margin: 10px;
}
#eco{
    display: flex;
}
#arvore
{animation-name: fade-in;
    animation-duration: 1.5s;
    animation-delay: 2s;}
#lampada{
    animation-name: fade-in;
    animation-duration: 1.5s;
    animation-delay: 2.5s;}

   #incentivo{
    animation-name: fade-in;
    animation-duration: 1.5s;
    animation-delay: 2.9s;
   } 
}



